<div class="w-100 h-auto d-flex dd justify-content-center">
    <div class="container">
        <div class="container-fluid">
            <div class="w-100 vh-100 d-flex justify-content-center align-items-center">
                <div class="example-container">
                    <form class="formse" [formGroup]="Dataform"   >
                        <div class="p-3">
                            <h1 class="log">LogIn</h1>
                      
                        </div>
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your email</mat-label>
                            <input matInput placeholder="Email"   formControlName="Email">
                            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <!-- [formGroup]="testdata" -->
                        <mat-form-field appearance="fill" class="pass">
                            <mat-label>Enter your password</mat-label>
                            <input matInput  [type]="hide ? 'password' : 'text'"  formControlName="Password" >
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="password.invalid">{{getErrorMessage1()}}</mat-error>
                        </mat-form-field>
                        <div class="w-100 p-3">
                            <span >
                                <!-- *ngFor="let gg of gender"
                                 <input name="data" type="radio" id="{{gg.id}}" value="{{gg.gen}}">
                                 <label for="{{gg.id}}">{{gg.gen}}</label> -->
                                 Click "SetValue" bottom for login .
                            </span>
                        </div>
                        <div class="w-100 p-3 text-end">
                            <button (click)="OnSub()" class="btn btn-info fw-bold pe-4 ps-4"> Login</button>
                            <span class="p-3"></span>
                            <button (click)="Setvalue()" class="btn btn-info fw-bold pe-4 ps-4"> SetValue</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>