<h1 mat-dialog-title class="ps-5 pt-4 ">Stock Detail</h1>
<div mat-dialog-content class="example-full-width ps-5">

    <table class="table">
        <thead>
            <div class="m-4"></div>
            <tr>
                <b> Stock ID : {{DetailShow.id}}</b>
            </tr>
            <div class="m-2"></div>
            <tr>
                <th scope="col">Document Data</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{DetailShow.documentDate}}</td>
                <td>{{DetailShow.quantity}}</td>
            </tr>
            <div class="m-2"></div>
        </tbody>
    </table>
    <!-- =========== -->
    <table class="table">
        <thead>
            <div class="m-4"></div>
            <tr>
                <b> Product ID : {{DetailShow.product.id}}</b>
            </tr>
            <div class="m-2"></div>
            <tr>
                <th scope="col">Product Code</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody> 
            <tr> 
                <td>{{DetailShow.product.code}}</td>
                <td>{{DetailShow.product.name}}</td>
                <td>{{DetailShow.product.price}} $</td>
                <td>{{DetailShow.product.description}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <div class="m-4"></div>
            <tr>
                <b> Wares ID : {{DetailShow.ware.id}}</b>
            </tr>
            <div class="m-2"></div>
            <tr>
                <th scope="col">Wares Code</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{DetailShow.ware.code}}</td>
                <td>{{DetailShow.ware.name}}</td>
                <td>{{DetailShow.ware.description}}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-end w-100 pe-4 pt-2">
        <button mat-raised-button color="primary" class="m-2" (click)="openTransfer(DetailShow)">Transfer</button>
        <button mat-raised-button color="warn" (click)="CloseDialog()">Close</button>
    </div>

    <!--  {{BottonDialog}}-->
</div>