<h1 [hidden]="show_not">My page 1</h1>
<div>{{page1_title}} <br> {{page1_title}} <br>

    <button class="btn btn-primary" (click)="GotoWare()"> Go to another page</button>
</div>
<div class="container">
    <div class="card w-50" [hidden]="id">
        <div class="card-body ">
            <input type="text" #box class="form-control" (keyup.enter)="showdata(box.value)"> <!-- (input)="inputevent($event)" [(ngModel)]="data"-->
        </div>
        <div class="card-body text-center">
                {{data}}
        </div>

        <div class="card-body text-center">
            <div *ngFor="let item of [1,2,3,4,5];let i = index;">
                {{i}}
                <i [ngStyle]="{background:item/2==0 ? 'green':'red'}" class="form-control">{{item}}</i>
            </div>
        </div>

        <div class="card-body text-center">
            <div *ngFor="let item of [1,2,3,4,5,6,7,8,9];let i = index;">
                <i *ngIf="item%2==1; else notfier" class="form-control">{{item}}</i>
                <ng-template #notfier>
                    <i class="form-control bg-danger">{{item}}</i>
                </ng-template>
            </div>
        </div>

    </div>
    <!-- <button class="btn btn-info" (click)="hidents()"> click</button> -->
    <button class="btn btn-danger m-4" (click)="showtext($event)"> click</button>
</div>